# Variables and Data Types

In [1]:
#int, float, str

a = 10
b = 3.4
c = "Amazon"

print(a, b, c)

10 3.4 Amazon

In [2]:
#bool
is_ready = True
print(is_ready)

True

In [13]:
#list
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [4]:
#tuple (immutable)
my_tuple = (1, 2, 3)
my_tuple.append(4)
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
new_tuple = my_tuple + (4,5)
print(new_tuple)

(1, 2, 3, 4, 5)

In [6]:
#dictionary
my_dict = {"name": "Bella", "role": "Applied Scientist"}
my_dict["company"] = "Amazon"
print(my_dict)

{'name': 'Bella', 'role': 'Applied Scientist', 'company': 'Amazon'}

In [7]:
#set
my_set = {1, 2, 3, 4}
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

# Common Operations

In [9]:
for item in my_list:
    print(item)

1
2
3
4

In [14]:
my_list.remove(2) #remove element 2
print(my_list)

[1, 3, 4]

In [15]:
my_list.pop(1)
print(my_list)

[1, 4]

In [16]:
t = my_list.pop()
print(my_list)

[1]

In [17]:
t

4

In [18]:
my_list+=[5,6,7]

In [19]:
print(my_list)

[1, 5, 6, 7]

In [20]:
for key, value in my_dict.items():
    print(f"{key}: {value}")

name: Bella
role: Applied Scientist
company: Amazon

In [21]:
del my_dict["company"]
print(my_dict)

{'name': 'Bella', 'role': 'Applied Scientist'}

In [22]:
for element in my_set:
    print(element)

1
2
3
4
5

In [23]:
my_set.remove(1)
print(my_set)

{2, 3, 4, 5}

In [24]:
print(my_tuple)

(1, 2, 3)

In [25]:
new_tuple = my_tuple[:1] + my_tuple[2:]
print(new_tuple)

(1, 3)

# Function

In [26]:
def greet(name):
    print(f"Hello, {name}")

greet("Bella")

Hello, Bella

In [28]:
#Default parameter
def power(x, n = 2):
    return x ** n

print(power(3))
print(power(3, 3))

9
27

In [31]:
#Variable-length parameters (*args, **kwargs)
def demo_args(*args, **kwargs):
    print(args) #tuple
    print(kwargs) #dict
    print(type(args))
    print(type(kwargs))

demo_args(1, 2, 3, name="Bella", role="Applied Scientist")

(1, 2, 3)
{'name': 'Bella', 'role': 'Applied Scientist'}
<class 'tuple'>
<class 'dict'>

In [ ]:
# Class
class Scientist:
    def __init__(self, name, field):
        self.name = name
        self.field = field

    def introduce(self):
        print(f"My name is {self.name} and I work in {self.field}.")

scientist = Scientist("Bella", "Machine Learning")